.bg-container {
  font-family: 'Roboto';
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 26px 16px;
  box-shadow: 0 0 16px 16px #f9f9f9;
  border-radius: 5px;
}
.login-logo {
  align-self: center;
  width: 120px;
  margin: 16px 0 26px;
}
.label {
  font-size: 14px;
  font-weight: 500;
  color: #47556999;
  margin: 16px 0 8px;
}
.input-field {
  outline: none;
  border: 1px solid #94a3b8;
  border-radius: 3px;
  padding: 12px 16px;
}
.show-password-container {
  display: flex;
  align-items: flex-start;
  margin: 5px 0 16px;
}
.checkbox {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.checkbox-label {
  font-weight: 500;
  font-size: 14px;
  color: #1e293b;
  margin-top: 2px;
}
.custom-button {
  padding: 12px;
  background-color: #3b82f6;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
